.product-overlay {
  background: rgba(0, 0, 0, 0.5); /* Ensure the background is always dark */
  color: white; /* Text color to contrast with the background */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.product-title {
  font-size: 18px;
}

.product-card {
  width: 16rem;
  height: 100%; /* Ensure the card height is 100% of its container */
}
